### shunodroid defconfig ###
#
# How to use:
#  You need to merge defconfig with your device's one.
#
#  $ make <your_device_defconfig>
#  $ scripts/config/merge_config.sh arch/arm/configs/shunodroid_defconfig
#
#  Now, your .config is customized.
#  Let's try to build.
#

# TCP
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_WESTWOOD=y

# CPU and GPU
CONFIG_ADRENO_IDLER=y
CONFIG_CPU_VOLTAGE_TABLE=y
CONFIG_TURBO_BOOST=y
CONFIG_CPU_OC=y
CONFIG_CPU_OC_ULTIMATE=y
# CONFIG_MSM_DCVS is not set
CONFIG_CPU_FREQ_GOV_ALUCARD=y
CONFIG_ALUCARD_HOTPLUG=y

# Filesystem
CONFIG_DYNAMIC_FSYNC=y
CONFIG_ASYNC_FSYNC=y
CONFIG_IOSCHED_TRIPNDROID=y
